.task {
    background: gray;
    margin: 10px 0px;
    padding: 10px;
}

.task:hover {
    background-color: darkslategray;
  }

.strike {
    text-decoration: line-through;
    background: green;
}

.delete {
    height: 20px;
    width: 25px;
    float: right;
    color: red;
}

#container{
    border: solid gray 5px;
    margin: 10px 0px;
    padding: 10px;
}